# Ignore node_modules (if applicable)
node_modules/

# Ignore log files
*.log

# Ignore temporary files
*.tmp

# Ignore system-specific files
.DS_Store
Thumbs.db

# Ignore compiled binary or object files
*.o
*.exe

# Ignore other IDE-specific or unwanted files
.idea/
.vscode/
bin/
obj/
createdAccounts.txt
updatedTree.txt
_extracted/*
_extracted/object_1.xmo
_extracted/object_2.xmo
_extracted/object_3.xmo
TestXMOFiles.zip